*.webm filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
assets/img/superbe-teaser.mp4 filter=lfs diff=lfs merge=lfs -text
assets/img/project/project2/stranger-night-2.mp4 filter=lfs diff=lfs merge=lfs -text
assets/img/project/project2/stranger-night.webm filter=lfs diff=lfs merge=lfs -text
