<footer>
    <div class="info">
        <div class="contact-footer">
            <a href="tel:0763417306" class="phone image-zoom" data-dsn="parallax">{{ site.tel }}</a>
            <a href="mailto: anthony.nasso@superbe.paris" class="email image-zoom" data-dsn="parallax">{{ site.email }}</a>
        </div>
        <div class="copyright-social">
            <p>© 2020 by <a href="https://mathilderobert.com">Castrax</a></p>
            <ul>
                <li class="image-zoom" data-dsn="parallax"><a href="https://www.instagram.com/superbe_paris/" target="_blank">Instagram</a></li>
                <li class="image-zoom" data-dsn="parallax"><a href="https://www.linkedin.com/in/anthonynasso/" target="_blank">Linkedin</a></li>
            </ul>
        </div>
    </div>
</footer>
