---
client: Klépierre & Twentieth Century Fox
agency: Faubourg Stories
name: Escape game Darkest Minds
category: Escape game
location: Centres commerciaux Klépierre
city: Région parisienne
index: 3
permalink: events/escapegame-darkestminds/
---

<main class="main-root">
    <div id="dsn-scrollbar">
        <header>
            <div class="headefr-fexid" data-dsn-header="project">
                <div class="bg" id="dsn-hero-parallax-img" data-dsn-ajax="img">
                    <div class="bg-image cover-bg" data-overlay="3"
                        data-image-src="/assets/img/project/project5/1.png"></div>
                </div>

                <div class="scroll" data-dsn-animate="ajax">
                    <span class="background"></span>
                    <span class="triangle"></span>
                </div>
                <div class="project-title" id="dsn-hero-parallax-title">
                    <div class="title-text-header">
                        <div class="cat">
                            <span>{{ page.category }}</span>
                        </div>
                        <span class="title-text-header-inner">
                            <span data-dsn-animate="ajax">{{ page.name }}</span>
                        </span>
                    </div>

                    <div class="sub-text-header" data-dsn-animate="ajax">
                        <h5>{{ page.location }}</h5>
                        <span>- {{ page.city }}</span>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrapper">
            <div class="root-project">

                <div class="inline-desc">
                <div class="container intro-project section-margin container-fluid">
                    <div class="intro-text">
                        <div class="title-cover" data-dsn-grid="move-section" data-dsn-opacity="0.1"
                            data-dsn-duration="170%" data-dsn-move="0%">
                            {{ page.name }}
                        </div>
                        <div class="inner">
                            <h2 data-dsn-animate="text">{{ page.name }}</h2>
                            <p data-dsn-animate="up">Une tournée dans 5 centres et multiplex d’un escape game conçu et produit autour du scénario du film.. Organisation d’une  soirée influenceurs (cocktail, jeux privés) avec Darko, Emilie LTR....

Plan média de 350K€ co-brandé et visibilité in situ pour un footfall de 1,5M de personnes sur l’ensemble des dates.</p>
                            <ul class="mt-20" data-dsn-animate="up">
                                <li>Agence : {{ page.agency }}</li>
                                <li>Client : {{ page.client }}</li>
                                <li>Lieu : {{ page.location }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="intro-project section-margin section-grey" data-dsn-animate="up">
                    <div class="intro-text">
                        <h3 data-dsn-animate="text">Responsabilités</h3>
                        <div class="inner">
                            <p><i class="fas fa-tasks"></i>  Conception et recommandation stratégique <br />
                            <i class="fas fa-chart-line"></i>  Démarchage et coordination partenariat et validations <br />
                            <i class="fas fa-sitemap"></i>  Production <br />
                            <i class="fas fa-music"></i>  Recrutement personnel <br />
                            <i class="fas fa-music"></i>  Briefs, suivi et validations créa, scénographie</p>
                        </div>
                    </div>
                </div>
              </div>

                <div class="container-fluid gallery-col">
                    <div class="row">
                        <div class="col-md-4 box-im section-padding">
                            <div class="image-zoom" data-dsn="parallax">
                                <a class="single-image" href="/assets/img/project/project5/1.p,g">
                                    <img src="/assets/img/project/project5/1.png" alt="">
                                </a>

                                <div class="caption">Trevor Bittinger</div>
                            </div>
                        </div>

                        <div class="col-md-4 box-im section-padding">
                            <div class="image-zoom" data-dsn="parallax">
                                <a class="single-image" href="/assets/img/project/project5/2.jpg">
                                    <img src="/assets/img/project/project5/2.jpg" alt="">
                                </a>
                                <div class="caption">Sef McCullough</div>
                            </div>
                        </div>

                        <div class="col-md-4 box-im section-padding">
                            <div class="image-zoom" data-dsn="parallax">
                                <a class="single-image" href="/assets/img/project/project5/3.jpg">
                                    <img src="/assets/img/project/project5/3.jpg" alt="">
                                </a>
                                <div class="caption">Sef McCullough</div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class=" box-gallery-vertical section-margin section-padding">
                    <div class="mask-bg"></div>
                    <div class="container">
                        <div class="row align-items-center h-100">
                            <div class="col-lg-6 ">
                                <div class="box-im" data-dsn-grid="move-up">
                                    <img class="has-top-bottom" src="/assets/img/project/project5/2.jpg" alt=""
                                        data-dsn-move="20%">
                                </div>
                            </div>

                            <div class="col-lg-6">


                                <div class="box-info">

                                    <div class="vertical-title">
                                        <h2 data-dsn-animate="up">Un escape game géant et gratuit sur Darkest Minds à Val d'Europe.</h2>
                                    </div>

                                    <h6 data-dsn-animate="up">La centre commercial Val d'Europe ouvre un escape game géant et gratuit du 7 au 15 juillet à l'occasion de la sortie du film « Darkest Minds : Rébellion » : une belle aventure à partager entre amis !</h6>

                                    <p data-dsn-animate="up">Teen movie teinté de science-fiction, Darkest mind : Rébellion met en scène des adolescents aux pouvoirs surnaturels dans une ambiance dystopique où tous les jeunes ont été décimés par un virus inconnu... </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="box-seat">
                    <div class="dsn-v-text">
                        <div class="container-fluid">
                            <div class="box-middle-text">
                                <a href="https://youtu.be/1knYMlGivJg" class="vid">
                                    <div class="play-button">
                                        <div class="play-btn">
                                            <i class="fas fa-play"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="inner-img" data-dsn-grid="move-up">
                                <img class="has-top-bottom" src="/assets/img/project/project5/2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include random-nextproject.html %}
            {% include footer.html %}
        </div>
    </div>
</main>
