---
client: Klépierre
agency: Faubourg Stories
name: Lancement Prado
category: Lancements
location: Prado
city: Marseille
index: 4
permalink: events/lancement-prado/
---

<main class="main-root">
    <div id="dsn-scrollbar">
        <header>
            <div class="headefr-fexid" data-dsn-header="project">
                <div class="bg" id="dsn-hero-parallax-img" data-dsn-ajax="img">
                    <div class="bg-image cover-bg" data-overlay="3"
                        data-image-src="/assets/img/project/project6/3.jpg"></div>
                </div>

                <div class="scroll" data-dsn-animate="ajax">
                    <span class="background"></span>
                    <span class="triangle"></span>
                </div>
                <div class="project-title" id="dsn-hero-parallax-title">
                    <div class="title-text-header">
                        <div class="cat">
                            <span>{{ page.category }}</span>
                        </div>
                        <span class="title-text-header-inner">
                            <span data-dsn-animate="ajax">{{ page.name }}</span>
                        </span>
                    </div>

                    <div class="sub-text-header" data-dsn-animate="ajax">
                        <h5>{{ page.location }}</h5>
                        <span>- {{ page.city }}</span>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrapper">
            <div class="root-project">

                <div class="inline-desc">
                <div class="container intro-project section-margin container-fluid">
                    <div class="intro-text">
                        <div class="title-cover" data-dsn-grid="move-section" data-dsn-opacity="0.1"
                            data-dsn-duration="170%" data-dsn-move="0%">
                            {{ page.name }}
                        </div>
                        <div class="inner">
                            <h2 data-dsn-animate="text">{{ page.name }}</h2>
                            <p data-dsn-animate="up">Création d’une charte graphique et d’un blog de préouverture, partenariats avec 3 influenceuses locales, création et production de Prado Box pour les influenceurs. Production d’un cocktail de chantier privé et d’un show de Hiplet. Événement d’ouverture du centre et production de cadeaux de bienvenue sur mesure.</p>
                            <ul class="mt-20" data-dsn-animate="up">
                                <li>Agence : {{ page.agency }}</li>
                                <li>Client : {{ page.client }}</li>
                                <li>Lieu : {{ page.location }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container intro-project section-margin container-fluid section-grey">
                    <div class="intro-text">
                        <h3 data-dsn-animate="text">Responsabilités</h3>
                        <div class="inner">
                            <p><i class="fas fa-tasks"></i>  Conception et recommandation stratégique <br />
                            <i class="fas fa-chart-line"></i>  Direction de projets <br />
                            <i class="fas fa-sitemap"></i>  Chargé de production <br />
                            <i class="fas fa-music"></i>  Briefs, suivi et validations créa <br />
                            <i class="fas fa-music"></i>  Coordination partenariats et validations <br />
                            <i class="fas fa-music"></i>  Relations influenceuses</p>
                        </div>
                    </div>
                </div>
              </div>

                <div class="container-fluid gallery-col">
                    <div class="row">
                        <div class="col-md-4 box-im section-padding">
                            <div class="image-zoom" data-dsn="parallax">
                                <a class="single-image" href="/assets/img/project/project6/1.jpg">
                                    <img src="/assets/img/project/project6/1.jpg" alt="">
                                </a>

                                <div class="caption">Trevor Bittinger</div>
                            </div>
                        </div>

                        <div class="col-md-4 box-im section-padding">
                            <div class="image-zoom" data-dsn="parallax">
                                <a class="single-image" href="/assets/img/project/project6/2.jpg">
                                    <img src="/assets/img/project/project6/2.jpg" alt="">
                                </a>
                                <div class="caption">Sef McCullough</div>
                            </div>
                        </div>

                        <div class="col-md-4 box-im section-padding">
                            <div class="image-zoom" data-dsn="parallax">
                                <a class="single-image" href="/assets/img/project/project6/3.jpg">
                                    <img src="/assets/img/project/project6/3.jpg" alt="">
                                </a>
                                <div class="caption">Sef McCullough</div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class=" box-gallery-vertical section-margin section-padding">
                    <div class="mask-bg"></div>
                    <div class="container">
                        <div class="row align-items-center h-100">
                            <div class="col-lg-6 ">
                                <div class="box-im" data-dsn-grid="move-up">
                                    <img class="has-top-bottom" src="/assets/img/project/project6/3.jpg" alt=""
                                        data-dsn-move="20%">
                                </div>
                            </div>

                            <div class="col-lg-6">


                                <div class="box-info">

                                    <div class="vertical-title">
                                        <h2 data-dsn-animate="up">Cocktail de chantier du Prado, et surprise Party à destination du grand public.</h2>
                                    </div>

                                    <h6 data-dsn-animate="up">Conception et organisation d'un Cocktail de chantier du Prado, à l'occasion de la présentation du site aux influenceurs professionnels. Un cocktail chic sur un site en travaux et un show signature de Hiplet, le hip-hop sur pointe, pour marquer les esprits.</h6>

                                    <p data-dsn-animate="up">Puis organisation de la surprise party à destination du grand public. Un cadeau XXL a été installé sur l’allée centrale du centre et de nombreuses dotations événementielles étaient à gagner toutes les heures pendant 5 jours. Faubourg Stories a également conçu et produit les cadeaux de bienvenue personnalisés pour les premiers clients. </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="box-seat">
                    <div class="dsn-v-text">
                        <div class="container-fluid">
                            <div class="box-middle-text">
                                <a href="https://youtu.be/RfwQTobONHg" class="vid">
                                    <div class="play-button">
                                        <div class="play-btn">
                                            <i class="fas fa-play"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="inner-img" data-dsn-grid="move-up">
                                <img class="has-top-bottom" src="/assets/img/project/project6/2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include random-nextproject.html %}
            {% include footer.html %}
        </div>
    </div>
</main>
