---
layout: event
client: Klépierre & STUDIOCANAL
agency: Faubourg Stories
name: Noël Paddington
category: Événements Grand Public
location: Centres commerciaux Klépierre
city: France
index: 6
permalink: events/noel-paddington/
---

<main class="main-root">
    <div id="dsn-scrollbar">
        <header>
            <div class="headefr-fexid" data-dsn-header="project">
                <div class="bg has-top-bottom" id="dsn-hero-parallax-img">
                    <div class=" " data-dsn="video" data-overlay="4" data-dsn-ajax="img">
                        <video class="image-bg cover-bg dsn-video" autoplay loop
                            muted>
                            <source src="/assets/img/project/project7/paddington-header.mp4" type="video/mp4"
                                type="video/mp4">
                            <source src="/assets/img/project/project7/paddington-header.webm" type="video/webm">
                            Your browser does not support HTML5 video.
                        </video>
                    </div>
                </div>

                <div class="scroll" data-dsn-animate="ajax">
                    <span class="background"></span>
                    <span class="triangle"></span>
                </div>
                <div class="project-title" id="dsn-hero-parallax-title">
                    <div class="title-text-header">
                        <div class="cat">
                            <span>{{ page.category }}</span>
                        </div>
                        <span class="title-text-header-inner">
                            <span data-dsn-animate="ajax">{{ page.name }}</span>
                        </span>
                    </div>

                    <div class="sub-text-header" data-dsn-animate="ajax">
                        <h5>{{ page.location }}</h5>
                        <span>- {{ page.city }}</span>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrapper">
            <div class="root-project">

                <div class="inline-desc">
                <div class="container intro-project section-margin container-fluid">
                    <div class="intro-text">
                        <div class="title-cover" data-dsn-grid="move-section" data-dsn-opacity="0.1"
                            data-dsn-duration="170%" data-dsn-move="0%">
                            {{ page.name }}
                        </div>
                        <div class="inner">
                            <h2 data-dsn-animate="text">{{ page.name }}</h2>
                            <p data-dsn-animate="up">A l’occasion du deuxième opus de la franchise Paddington, plusieurs dispositifs d’animation ont enchanté une dizaine de centres commerciaux du groupe Klépierre. <br />Installation d’une maison grandeur nature selon les décors du tournage et animations pour petits grands (borne de jeu, ateliers artistiques, goûters) et développement d’une application photo en réalité augmentée pour poser aux côtés de l’ours le plus célèbre d’Angleterre.</p>
                            <ul class="mt-20" data-dsn-animate="up">
                                <li>Agence : {{ page.agency }}</li>
                                <li>Client : {{ page.client }}</li>
                                <li>Lieu : {{ page.location }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="intro-project section-margin section-grey" data-dsn-animate="up">
                    <div class="intro-text">
                        <h3 data-dsn-animate="text">Responsabilités</h3>
                        <div class="inner">
                            <p><i class="fas fa-tasks"></i>  Conception et recommandation stratégique <br />
                            <i class="fas fa-chart-line"></i>  Direction de projets <br />
                            <i class="fas fa-sitemap"></i>  Suivi de production <br />
                            <i class="fas fa-music"></i>  Briefs, suivi et validations créa <br />
                            <i class="fas fa-music"></i>  Coordination partenariats et validations <br />
                        </div>
                    </div>
                </div>
              </div>

                <div class="container-fluid gallery-col">
                    <div class="row">
                        <div class="col-md-4 box-im section-padding">
                            <div class="image-zoom" data-dsn="parallax">
                                <a class="single-image" href="/assets/img/project/project7/2.jpg">
                                    <img src="/assets/img/project/project7/2.jpg" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="col-md-4 box-im section-padding">
                            <div class="image-zoom" data-dsn="parallax">
                                <a class="single-image" href="/assets/img/project/project7/3.jpg">
                                    <img src="/assets/img/project/project7/3.jpg" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="col-md-4 box-im section-padding">
                            <div class="image-zoom" data-dsn="parallax">
                                <a class="single-image" href="/assets/img/project/project7/4.jpg">
                                    <img src="/assets/img/project/project7/4.jpg" alt="">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="box-seat">
                    <div class="dsn-v-text">
                        <div class="container-fluid">
                            <div class="box-middle-text">
                                <a href="https://youtu.be/zmN-fXeRQ_E" class="vid">
                                    <div class="play-button">
                                        <div class="play-btn">
                                            <i class="fas fa-play"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="inner-img" data-dsn-grid="move-up">
                                <img class="has-top-bottom" src="/assets/img/project/project7/2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include random-nextproject.html %}
            {% include footer.html %}
        </div>
    </div>
</main>
