---
client: Warner Bros. x Galeries Lafayette
agency: Faubourg Stories
name: Noël Wizarding World
category: Événements Grand Public
location: Galeries Lafayette
city: Paris, 9ème
index: 9
---

<main class="main-root">
    <div id="dsn-scrollbar">
        <header>
            <div class="headefr-fexid" data-dsn-header="project">
                <div class="bg" id="dsn-hero-parallax-img" data-dsn-ajax="img">
                    <div class="bg-image cover-bg" data-overlay="4"
                        data-image-src="/assets/img/project/project10/4.jpg"></div>
                </div>

                <div class="scroll" data-dsn-animate="ajax">
                    <span class="background"></span>
                    <span class="triangle"></span>
                </div>
                <div class="project-title" id="dsn-hero-parallax-title">
                    <div class="title-text-header">
                        <div class="cat">
                            <span>{{ page.category }}</span>
                        </div>
                        <span class="title-text-header-inner">
                            <span data-dsn-animate="ajax">{{ page.name }}</span>
                        </span>
                    </div>

                    <div class="sub-text-header" data-dsn-animate="ajax">
                        <h5>{{ page.location }}</h5>
                        <span>- {{ page.city }}</span>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrapper">
            <div class="root-project">

                <div class="inline-desc">
                <div class="container intro-project section-margin container-fluid">
                    <div class="intro-text">
                        <div class="title-cover" data-dsn-grid="move-section" data-dsn-opacity="0.1"
                            data-dsn-duration="170%" data-dsn-move="0%">
                            {{ page.name }}
                        </div>
                        <div class="inner">
                            <h2 data-dsn-animate="text">{{ page.name }}</h2>
                            <p data-dsn-animate="up">Création d’un pop up store Wizarding World. Animations aux GL Homme : cours de baguette magique en Kinect, exposition affiches originales photocall fond vert, borne photo, scénographie. Scénographie et Production de 2 vitrines boulevard Haussmann.</p>
                            <ul class="mt-20" data-dsn-animate="up">
                                <li>Agence : {{ page.agency }}</li>
                                <li>Client : {{ page.client }}</li>
                                <li>Lieu : {{ page.location }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container intro-project section-margin container-fluid section-grey">
                    <div class="intro-text">
                        <h3 data-dsn-animate="text">Responsabilités</h3>
                        <div class="inner">
                            <p><i class="fas fa-tasks"></i>  Conception et recommandation stratégique <br />
                            <i class="fas fa-chart-line"></i>  Direction de production <br />
                            <i class="fas fa-chart-line"></i>  Direction de projets <br />
                            <i class="fas fa-music"></i>  Briefs, suivi & validations créa et scénographie <br />
                            <i class="fas fa-music"></i>  Coordination partenariats et validations <br />
                        </div>
                    </div>
                </div>
              </div>

                 <div class="gallery-portfolio section-margin justified-gallery">
                    <a class="link-pop" href="/assets/img/project/project10/1.jpg"
                        data-source="/assets/img/project/project10/1.jpg">
                        <img src="/assets/img/project/project10/1.jpg" alt="">
                        <div class="cap">
                            <span>Web Design</span>
                        </div>
                    </a>

                    <a class="link-pop" href="/assets/img/project/project10/2.jpg"
                        data-source="/assets/img/project/project10/2.jpg">
                        <img src="/assets/img/project/project10/2.jpg" alt="">
                        <div class="cap">
                            <span>Web Design</span>
                        </div>
                    </a>

                    <a class="link-pop" href="/assets/img/project/project10/3.jpg"
                        data-source="/assets/img/project/project10/3.jpg">
                        <img src="/assets/img/project/project10/3.jpg" alt="">
                        <div class="cap">
                            <span>Web Design</span>
                        </div>
                    </a>

                    <a class="link-pop" href="/assets/img/project/project10/5.jpg"
                        data-source="/assets/img/project/project10/5.jpg">
                        <img src="/assets/img/project/project10/5.jpg" alt="">
                        <div class="cap">
                            <span>Web Design</span>
                        </div>
                    </a>

                    <a class="link-pop" href="/assets/img/project/project10/6.jpg"
                        data-source="/assets/img/project/project10/6.jpg">
                        <img src="/assets/img/project/project10/6.jpg" alt="">
                        <div class="cap">
                            <span>Web Design</span>
                        </div>
                    </a>

                    <a class="link-pop" href="/assets/img/project/project10/7.jpg"
                        data-source="/assets/img/project/project10/7.jpg">
                        <img src="/assets/img/project/project10/7.jpg" alt="">
                        <div class="cap">
                            <span>Web Design</span>
                        </div>
                    </a>

                     <a class="link-pop" href="/assets/img/project/project10/8.jpg"
                        data-source="/assets/img/project/project10/8.jpg">
                        <img src="/assets/img/project/project10/8.jpg" alt="">
                        <div class="cap">
                            <span>Web Design</span>
                        </div>
                    </a>
                </div>
            </div>
            {% include random-nextproject.html %}
            {% include footer.html %}
        </div>
    </div>
</main>
