---
layout: event
title: Events
---

<main class="main-root">
    <div id="dsn-scrollbar">
        <header>
            <div class="container header-hero">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contenet-hero">
                            <h5>Les événements</h5>
                            <h1>Portfolio</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrapper">
            <div class="root-work">
                <div class="container ">
                    <div class="box-title" data-dsn-title="cover">
                        <h2 class="title-cover" data-dsn-grid="move-section" data-dsn-move="-70">Projets</h2>
                    </div>

                    <div class="filterings">
                        <div class="filtering-wrap">
                            <div class="filtering">
                                <div class="selector"></div>
                                <button type="button" data-filter="*" class="active">
                                    Tous
                                </button>
                                <button type="button" data-filter=".Soirées">Soirées</button>
                                <button type="button" data-filter=".Lancements">Lancements</button>
                                <button type="button" data-filter=".Événements">Événements Grand Public</button>
                                <button type="button" data-filter=".Scénographies">Scénographies</button>
                                <button type="button" data-filter=".Digital">Digital</button>

                            </div>
                        </div>
                    </div>

                    <div class="projects-list gallery">

                        {% for item in site.data.events %}
                          <div class="item {{ item.category }}">
                              <a href="/events/{{ item.link }}" class="effect-ajax" data-dsn-ajax="work"
                                  data-dsn-grid="move-up">
                                  <img class="has-top-bottom" src="{{ item.categ_img }}" alt="" />
                                  <div class="item-border"></div>
                                  <div class="item-info">
                                      <h5 class="cat">{{ item.category }}</h5>
                                      <h4>{{ item.name }}</h4>
                                      <span><span>Voir l'événement</span></span>
                                  </div>
                              </a>
                          </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <section class="contact-up section-margin section-padding">
                <div class="container">
                    <div class="c-wapp">
                        <a href="/contact/" class="effect-ajax">
                            <span class="hiring">
                                Vous avez un projet d'événement ?
                            </span>
                            <span class="career">
                                N'hésitez pas à me contacter !
                            </span>
                        </a>
                    </div>
                </div>
            </section>

        </div>
        {% include footer.html %}
    </div>
</main>

