---
layout: default
---

<main class="main-root">
    <div id="dsn-scrollbar">
        <div class="dsn-slider demo3" data-dsn-header="project">
            <div class="dsn-root-slider" id="dsn-hero-parallax-img">
                <div class="slide-inner fullscreen-slider">
                  <div id="descover-holder" class="descover-holder">
                      <span class="letter">Scroll</span>
                      <div class="scroll-down__line">
                          <span></span>
                      </div>
                      <span class="letter">+</span>
                  </div>
                    <div class="swiper-wrapper">
                          <div class="slide-item swiper-slide">
                            <div class="slide-content">
                                <div class="slide-content-inner">
                                    <div class="project-metas">
                                        <div class="project-meta-box project-work cat d-none">
                                            <span class="d-none">Notre agence</span>
                                        </div>
                                    </div>

                                    <div class="title-text-header">
                                        <div class="title-text-header-inner">
                                            <a href="project-9.html" class="effect-ajax d-none" data-dsn-ajax="slider">
                                                Superbe
                                            </a>
                                        </div>
                                    </div>

                                    <p class="d-none">Sometimes, we need to check the time, wondering when our work
                                        or meeting will finish, without getting caught by others.</p>

                                    <div class="link-custom">
                                        <a href="project-9.html" class="image-zoom effect-ajax d-none" data-dsn="parallax"
                                            data-dsn-ajax="slider">
                                            <span class="d-none">En savoir plus</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="image-container">
                                <div class="image-bg cover-bg" data-dsn="video">
                                  <video class="dsn-video" poster="assets/img/superbe-teaser.gif" autoplay loop
                                                            muted>
                                    <source src="assets/img/superbe-teaser.mp4" type="video/mp4">
                                      Your browser does not support HTML5 video.
                                  </video>
                                </div>
                            </div>
                        </div>

                        <div class="slide-item swiper-slide">
                            <div class="slide-content">
                                <div class="slide-content-inner">
                                    <div class="project-metas">
                                        <div class="project-meta-box project-work cat">
                                            <span>Marques</span>
                                        </div>
                                    </div>

                                    <div class="title-text-header">
                                        <div class="title-text-header-inner">
                                            <a href="project-9.html" class="effect-ajax" data-dsn-ajax="slider">
                                                Calvin Klein SS19
                                            </a>
                                        </div>
                                    </div>

                                    <p>Sometimes, we need to check the time, wondering when our work
                                        or meeting will finish, without getting caught by others.</p>

                                    <div class="link-custom">
                                        <a href="project-9.html" class="image-zoom effect-ajax" data-dsn="parallax"
                                            data-dsn-ajax="slider">
                                            <span>Voir l'événement</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="image-container">
                                <div class="image-bg cover-bg" data-image-src="assets/img/project/project9/1.jpg"
                                    data-overlay="5">
                                    <img src="assets/img/project/project9/1.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="slide-item swiper-slide">
                            <div class="slide-content">
                                <div class="slide-content-inner">
                                    <div class="project-metas">
                                        <div class="project-meta-box project-work cat">
                                            <span>Marques</span>
                                        </div>
                                    </div>

                                    <div class="title-text-header">
                                        <div class="title-text-header-inner">
                                            <a href="project-4.html" class="effect-ajax" data-dsn-ajax="slider">
                                                100 ans Apérol
                                            </a>
                                        </div>
                                    </div>

                                    <p>Cal was first. The first public university in the great state
                                        of California. They are the pioneers. They are the trailblazers who started
                                        it all.</p>

                                    <div class="link-custom">
                                        <a href="project-4.html" class="image-zoom effect-ajax" data-dsn="parallax"
                                            data-dsn-ajax="slider">
                                            <span>Voir l'événement</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="image-container">
                                <div class="image-bg cover-bg" data-image-src="assets/img/project/project4/1.jpg"
                                    data-overlay="0">
                                    <img src="assets/img/project/project4/1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dsn-slider-content"></div>

            <section class="footer-slid" id="descover-holder">
                <div class="main-social">
                    <div class="social-icon">
                        <div class="social-btn">
                            <div class="svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.3 23.2">
                                    <path
                                        d="M19.4 15.5c-1.2 0-2.4.6-3.1 1.7L7.8 12v-.7l8.5-5.1c.7 1 1.9 1.6 3.1 1.6 2.1 0 3.9-1.7 3.9-3.9S21.6 0 19.4 0s-3.9 1.7-3.9 3.9v.4L7 9.3c-1.3-1.7-3.7-2-5.4-.8s-2.1 3.7-.8 5.4c.7 1 1.9 1.6 3.1 1.6s2.4-.6 3.1-1.6l8.5 5v.4c0 2.1 1.7 3.9 3.9 3.9s3.9-1.7 3.9-3.9c0-2.1-1.7-3.8-3.9-3.8zm0-13.6c1.1 0 1.9.9 1.9 1.9s-.9 1.9-1.9 1.9-1.9-.7-1.9-1.8.8-2 1.9-2zM3.9 13.6c-1.1 0-1.9-.9-1.9-1.9s.9-1.9 1.9-1.9 1.9.9 1.9 1.9-.8 1.9-1.9 1.9zm15.5 7.8c-1.1 0-1.9-.9-1.9-1.9s.9-1.9 1.9-1.9 1.9.9 1.9 1.9-.8 1.8-1.9 1.9z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <ul class="social-network">
                        <li>
                            <a href="https://twitter.com/anthony_nasso">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/anthony.nasso">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/anthonynasso/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="control-num">
                    <span class="sup active">01</span>
                </div>
                <div class="control-nav">
                    <div class="prev-container" data-dsn="parallax">
                        <svg viewBox="0 0 40 40">
                            <path class="path circle" d="M20,2A18,18,0,1,1,2,20,18,18,0,0,1,20,2"></path>
                            <polyline class="path" points="14.6 17.45 20 22.85 25.4 17.45"></polyline>
                        </svg>
                    </div>

                    <div class="next-container" data-dsn="parallax">
                        <svg viewBox="0 0 40 40">
                            <path class="path circle" d="M20,2A18,18,0,1,1,2,20,18,18,0,0,1,20,2"></path>
                            <polyline class="path" points="14.6 17.45 20 22.85 25.4 17.45"></polyline>
                        </svg>
                    </div>
                </div>
            </section>

        </div>

        <div class="wrapper-superbe">

            <section class="intro-about section-margin">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="intro-content-text">

                                <h2 data-dsn-grid="move-section" data-dsn-move="-30" data-dsn-duration="100%"
                                    data-dsn-opacity="1.2" data-dsn-responsive="tablet">
                                    Hello, <br /> voici <span class="glitch">Superbe</span>
                                </h2>

                                <p data-dsn-animate="text">Je vous accompagne sur des projets événementiels, des stratégies de marques. Ludique, créatif et avec un grand esprit d’équipe, je m’adapte très bien aux différents environnements d’agence, petite ou grandes, ainsi qu’à leurs process. Je peux travailler de manière autonome pour réaliser vos projets clés en main dans des enveloppes budgétaires et sous les contraintes de temps ou de stress.</p>

                                <h6 data-dsn-animate="text">ANTHONY NASSO</h6>
                                <small data-dsn-animate="text">Créateur de l'agence Superbe</small>

                                <div class="exper">
                                    <div class="numb-ex">
                                        <span class="word" data-dsn-animate="text">7</span>
                                    </div>

                                    <h4 data-dsn-animate="up">ANS D'EXPÉRIENCE <br /> DANS L'ÉVÉNEMENTIEL <br /> ET LE CINÉMA</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="background-mask">
                    <div class="background-mask-bg"></div>
                    <div class="img-box">
                        <div class="img-cent" data-dsn-grid="move-up">
                            <div class="img-container">
                                <img data-dsn-y="30%" src="assets/img/bgg.gif" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="client-see section-margin">
              <div class="container">
                <div class="one-title" data-dsn-animate="up">
                    <div class="title-sub-container">
                        <p class="title-sub">Mes valeurs, croyances, et engagements</p>
                    </div>
                    <h2 class="title-main">Ma vision</h2>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="intro-content-text">
                      <p data-dsn-animate="text">Enfant des années 90, incontestablement influencé par la pop culture, le digital, les engagements forts, et le "no-bullshit", je fais partie des Millenials. Je sais donc les comprendre, et je sais leur parler via les événements que je conçois et que j'organise.</p>
                    </div>
                  </div>
                  <div class="col-lg-8 offset-lg-1">
                    <div class="inner">
                      <div class="items">
                          <h3 class="title vision" data-dsn-grid="move-section" data-dsn-move="-60"
                              data-dsn-duration="100%" data-dsn-opacity="1" data-dsn-responsive="tablet">
                              <span class="text">Un événement...</span>
                          </h3>
                          <div class="bg"></div>
                          <div class="slick-slider">
                              <div class="item">
                                  <div class="img-cent">
                                    <div class="img-container">
                                      <img src="/assets/img/vision/image005.jpg" alt="">
                                    </div>
                                  </div>
                                <div class="quote">
                                    <p>"Doit raconter une histoire claire, et faire passer des <span style="color: purple"><b>messages de marques forts."</b></span></p>
                                </div>
                              </div>

                              <div class="item">
                                <div class="img-cent">
                                    <div class="img-container">
                                      <img src="/assets/img/vision/image006.jpg" alt="">
                                    </div>
                                </div>
                                <div class="quote">
                                    <p>"Être une <span style="color: blue"><b>expérience</b></span> pour les participants"</p>
                                </div>
                              </div>

                              <div class="item">
                                <div class="img-cent">
                                    <div class="img-container">
                                      <img src="/assets/img/vision/image002.jpg" alt="">
                                    </div>
                                </div>
                                <div class="quote">
                                    <p>"Être <span style="color: red"><b>amplifié</b></span> (par une stratégie de contenus pré/post event ou par une amplification digitale dès sa conception)."</p>
                                </div>
                              </div>

                              <div class="item">
                                <div class="img-cent">
                                    <div class="img-container">
                                      <img src="/assets/img/vision/image003.jpg" alt="">
                                    </div>
                                </div>
                                <div class="quote">
                                    <p>"Être <span style="color: #E0BD3E"><b>fédérateur et inclusif"</b></span></p>
                                </div>
                              </div>

                              <div class="item">
                                <div class="img-cent">
                                    <div class="img-container">
                                      <img src="/assets/img/vision/image004.jpg" alt="">
                                    </div>
                                </div>
                                <div class="quote">
                                    <p>"Être <span style="color: green"><b>respectueux de l'environnement</b></span> (circuits courts, location, matériaux bruts...)"</p>
                                </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="our-services-2 section-margin">
                <div class="container">
                    <div class="one-title" data-dsn-animate="up">
                        <div class="title-sub-container">
                            <p class="title-sub">Mes services</p>
                        </div>
                        <h2 class="title-main">Mon savoir-faire</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="services-item">
                                <div class="corner corner-top"></div>
                                <div class="corner corner-bottom"></div>
                                <div class="icon">
                                  <div class="glitch-img pic-1">
                                    <div class="glitch-img-inner pic-1"></div>
                                    <div class="glitch-img-inner-2 pic-1"></div>
                                  </div>
                                </div>
                                <div class="services-header">
                                    <h3>CONCEPTION</h3>
                                </div>
                                <p>Appels d'offres <br />Recos stratégiques <br />Recherche de lieux <br />Sourcing Teams</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="services-item">
                                <div class="corner corner-top"></div>
                                <div class="corner corner-bottom"></div>
                                <div class="icon">
                                  <div class="glitch-img pic-2">
                                    <div class="glitch-img-inner pic-2"></div>
                                    <div class="glitch-img-inner-2 pic-2"></div>
                                  </div>
                                </div>
                                <div class="services-header">
                                    <h3>EVENT</h3>
                                </div>
                                <p>Grand public <br />Lancement <br />Soirées corporate <br />Pop up stores</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="services-item">
                                <div class="corner corner-top"></div>
                                <div class="corner corner-bottom"></div>
                                <div class="icon">
                                  <div class="glitch-img pic-3">
                                    <div class="glitch-img-inner pic-3"></div>
                                    <div class="glitch-img-inner-2 pic-3"></div>
                                  </div>
                                </div>
                                <div class="services-header">
                                    <h3>PROJET</h3>
                                </div>
                                <p>Relation client<br />Management <br />Coordination</p>
                            </div>
                        </div>

                        <div class="col-md-4 offset-md-2">
                            <div class="services-item">
                                <div class="corner corner-top"></div>
                                <div class="corner corner-bottom"></div>
                                <div class="icon">
                                  <div class="glitch-img pic-4">
                                    <div class="glitch-img-inner pic-4"></div>
                                    <div class="glitch-img-inner-2 pic-4"></div>
                                  </div>
                                </div>
                                <div class="services-header">
                                    <h3>PRODUCTION</h3>
                                </div>
                                <p>Suivi budgétaire<br />Sourcing prestataires <br />Coordination</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="services-item">
                                <div class="corner corner-top"></div>
                                <div class="corner corner-bottom"></div>
                                <div class="icon">
                                  <div class="glitch-img pic-5">
                                    <div class="glitch-img-inner pic-5"></div>
                                    <div class="glitch-img-inner-2 pic-5"></div>
                                  </div>
                                </div>
                                <div class="services-header" data-dsn="color-modified">
                                    <h3>MARKETING</h3>
                                </div>
                                <p>Partenariats<br />Amplification <br />Brand content</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="our-work work-under-header  section-margin" data-dsn-col="3">
                <div class="container">
                    <div class="one-title" data-dsn-animate="up">
                        <div class="title-sub-container">
                            <p class="title-sub">Mes réalisations</p>
                        </div>
                        <h2 class="title-main">Mes événements</h2>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-9 offset-lg-3">
                            <div class="work-container">
                                <div class="slick-slider">
                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="assets/img/project/project9/6.jpg" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">
                                            <a href="project-7.html" data-dsn-grid="move-up" class="effect-ajax">

                                                <h5 class="cat">Vitrines</h5>
                                                <h4>Calvin Klein SS19</h4>
                                                <span><span>Voir l'événement</span></span>
                                            </a>

                                        </div>
                                    </div>

                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="assets/img/project/project1/1-2.jpg" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">
                                            <a href="project-6.html" data-dsn-grid="move-up" class="effect-ajax">

                                                <h5 class="cat">Crémaillère</h5>
                                                <h4>Netflix Paris</h4>
                                                <span><span>Voir l'événement</span></span>
                                            </a>

                                        </div>
                                    </div>

                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="assets/img/project/project4/1.jpg" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">
                                            <a href="project-4.html" data-dsn-grid="move-up" class="effect-ajax">

                                                <h5 class="cat">100 ans</h5>
                                                <h4>Apérol</h4>
                                                <span><span>Voir l'événement</span></span>
                                            </a>

                                        </div>
                                    </div>

                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="assets/img/project/project2/1-2.png" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">
                                            <a href="project-5.html" data-dsn-grid="move-up" class="effect-ajax">

                                                <h5 class="cat">Stranger Night</h5>
                                                <h4>Grand Rex</h4>
                                                <span><span>Voir l'événement</span></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="work-under-header section-margin" data-dsn-col="2">
                <div class="container">
                    <div class="one-title" data-dsn-animate="up">
                        <div class="title-sub-container">
                            <p class="title-sub">Mes clients</p>
                        </div>
                        <h2 class="title-main">Ils me font confiance</h2>
                    </div>
                    <div class="custom-container">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                              <div class="pro-text">
                                <h3 data-dsn-grid="move-section" data-dsn-move="-30" data-dsn-duration="100%"
                                        data-dsn-opacity="1.2" data-dsn-responsive="tablet">Agences & Marques</h3>
                              </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="work-container">
                                    <div class="slick-slider">
                                        <div class="work-item slick-slide">
                                            <img class="has-top-bottom" src="assets/img/logo/galeries-lafayette-taille-small.jpg"
                                                alt="">
                                            <div class="item-info">
                                                <div data-dsn-grid="move-up"
                                                    class="effect-ajax">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="work-item slick-slide">
                                            <img class="has-top-bottom" src="assets/img/logo/studiocanal-taille-small.jpg"
                                                alt="">
                                            <div class="item-info">
                                                <div data-dsn-grid="move-up"
                                                    class="effect-ajax">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="work-item slick-slide">
                                            <img class="has-top-bottom" src="assets/img/logo/cartel.jpg"
                                                alt="">
                                            <div class="item-info">
                                                <div data-dsn-grid="move-up"
                                                    class="effect-ajax">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="work-item slick-slide">
                                            <img class="has-top-bottom" src="assets/img/logo/netflix.jpg"
                                                alt="">
                                            <div class="item-info">
                                                <div data-dsn-grid="move-up"
                                                    class="effect-ajax">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="contact-up section-margin section-padding">
                <div class="container">
                    <div class="c-wapp">
                        <a href="contact.html" class="effect-ajax">
                            <span class="hiring">
                                Vous avez un projet d'événement ?
                            </span>
                            <span class="career">
                                N'hésitez pas à me contacter !
                            </span>
                        </a>
                    </div>
                </div>
            </section>

        </div>
        {% include footer.html %}
    </div>
</main>
